# Trabajo Final - Prediccion Modelo PQL

## Importacion de librerias

<b>Paso 0.</b> Instalacion de la libreria ipynb

In [16]:
#Instalacion para poder llamar funciones de otro notebook
!pip install ipynb

Requirement already satisfied: ipynb in c:\users\usuario\anaconda3\lib\site-packages (0.5.1)

<b>Paso 1.</b> Importacion de las librerias de python

In [17]:
#Importacion de numpy
import numpy as np
#Importacion de pandas
import pandas as pd
#Importacion de pyplot
import matplotlib.pyplot as plt
#Importacion de seaborn
import seaborn as sns
#Importacion de pickle
import pickle
#Se importan las funciones definidas en el notebook de entrenamiento
import ipynb.fs.defs.TrabajoFinal_Mayo_04_Train as funcPropias

<b>Paso 2.</b> Importacion del modelo obtenido en el entramiento

In [18]:
#Se abre el modelo guardado del entrenamiento
model = pickle.load(open("../01. Flat Files/data_PQL_model", 'rb'))

model

RFECV(cv=10,
      estimator=ComplementNB(alpha=1.0, class_prior=None, fit_prior=True,
                             norm=False),
      min_features_to_select=10, n_jobs=None, scoring='accuracy', step=1,
      verbose=0)

## Ejecucion del modelo

<b>Paso 3.</b> Se realizan las transformaciones iniciales necesarias del DataFrame

In [19]:
#Se lee el archivo de prediccion
dfInicial = funcPropias.lecturaInicial("../01. Flat Files/data_PQLpredict.xlsx")

#Se hace el tratamiento de nulos
dfNotNull = funcPropias.manejoNulos(dfInicial)

#Se normalizan las columnas String
dfColumnasEstandarizadas = funcPropias.normalizacionColumnasString(dfNotNull)

#Se remplaza los valores de is_won
dfColumnasEstandarizadas["is_won"] = 0

#Se muestra los primeros 5 registros
dfColumnasEstandarizadas.head(5)

Parametrizar country =  Series([], )
Parametrizar industry =  Series([], )
Parametrizar job_function =  Series([], )
Parametrizar job_title =  Series([], )

,starts_2_day,starts_4_day,starts_6_day,starts_8_day,starts_10_day,starts_12_day,starts_14_day,starts_16_day,starts_18_day,starts_20_day,...,runtime_exception_ratio,user_error_ratio,operator_exception_ratio,stopped_ratio,is_won,id,country_new,industry_new,job_function_new,job_title_new
0,2,2,2,3,3,3,3,3,5,5,...,0.001076,0.057362,0.001283,0.002301,0,400,MY,Healthcare,Data Scientist,CEO
1,2,2,2,2,2,2,2,2,2,2,...,0.001076,0.057362,0.001283,0.002301,0,401,CH,Financial Services,Architect,Data Scientist
2,1,2,2,2,2,2,3,3,3,3,...,0.000000,0.000000,0.000000,0.000000,0,402,UK,Energy,Architect,Data Scientist
3,4,4,4,4,4,4,12,15,16,16,...,0.001076,0.057362,0.001283,0.002301,0,403,SG,Educaction,Other,Data Scientist
4,1,1,1,1,1,1,1,1,1,1,...,0.001076,0.057362,0.001283,0.002301,0,404,US,Other,Data Scientist,Data Scientist

<b>Paso 4.</b> Funcion que permite realizar la codifiacion y estandarizacion de los campos del DataFrame

In [20]:
def xPredict(dfColumnasEstandarizadas):

    #Se estandarizan las columnas elimnando las columnas no funcionales
    dfColumnasEstandarizadas = funcPropias.eliminarVariables(dfColumnasEstandarizadas)

    #Se codifican las columnas string
    dicEncoder,dfEncoder = funcPropias.codString(dfColumnasEstandarizadas)

    #Se realiza la normalizacion de las columnas numericas
    dfZTransformacion = funcPropias.normalizacion(dfColumnasEstandarizadas)

    #Concatena el nuevo DataFrame
    dfModel = pd.concat([dfEncoder,dfZTransformacion],axis=1)

    #Separa las variables
    X,Y = funcPropias.separacionDataFrameModelo(dfModel)

    return X

X = xPredict(dfColumnasEstandarizadas)

<b>Paso 5.</b> Se predice el resultado sobre los datos de prueba y se exporta el resultado

In [27]:
#Se hace la predccion sobre el DataFrame X
Y = model.predict(X)

#Se asignan los valores al DataFrame
dfColumnasEstandarizadas["is_won"] = Y

#Se convierte el valor objetivo a tipo Boolean
dfColumnasEstandarizadas["is_won"] = dfColumnasEstandarizadas["is_won"].astype('bool')

#Se exportan los resultados obtenidos
dfColumnasEstandarizadas[["id","is_won"]].to_csv("../01. Flat Files/data_PQLpredict_results.csv",index = False)

#Se muestra los primeros 5 registros
dfColumnasEstandarizadas.groupby("is_won").count()["id"]

is_won
False     3
True     46
Name: id, dtype: int64