# Titanic - Just another approach

### Importing libraries

In [0]:
# Titanic Example
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Reading files

In [0]:
# Reading csv Titanic's Dataset
titanic = pd.read_csv('titanic(1).csv')# .head(50)
titanic

     Passenger Class  ... Survived
0              First  ...      Yes
1              First  ...      Yes
2              First  ...       No
3              First  ...       No
4              First  ...       No
...              ...  ...      ...
1304           Third  ...       No
1305           Third  ...       No
1306           Third  ...       No
1307           Third  ...       No
1308           Third  ...       No

[1309 rows x 12 columns]

### Make ETL cleaning
Please think carefully about the impact of row deletion on your dataframe as there may be other ways of fixing missing data

In [0]:
# Let's begin by having a look to see how "good" is our dataset by using count(). Thre are missing values?
titanic.count()

# As we can see from the results below, there are missing values in some columns.

Passenger Class                       1309
Name                                  1309
Sex                                   1309
Age                                   1046
No of Siblings or Spouses on Board    1309
No of Parents or Children on Board    1309
Ticket Number                         1309
Passenger Fare                        1308
Cabin                                  295
Port of Embarkation                   1307
Life Boat                              486
Survived                              1309
dtype: int64

Let's fix age issue using a mix of pandas and pure Python code!!!
Don't expect libraries will resolve all your needs. They are tools to made your life easier just when you need it.

In [0]:
# definig a function to fill zero values with the dataset's age mean
# Option 1
def add_age(cols):
    Age = cols[0]
    Pclass= cols[1]
    if pd.isnull(Age):
        return int(titanic[titanic["Passenger Class"] == Pclass]["Age"].mean())
    else:
        return Age

titanic["Age"] = titanic[["Age", "Passenger Class"]].apply(add_age,axis=1)

##########################################
# Option 2
# def add_age2 ( Age, Pclass)
#    if pd.isnull(Age):
#        return int(titanic[titanic["Passenger Class"] == Pclass]["Age"].mean())
#    else:
#        return Age
    
# Calling de function
# titanic["Age"] = add_age2 ( titanic["Age"],titanic["Passenger Class"])
titanic.count()

Passenger Class                       1309
Name                                  1309
Sex                                   1309
Age                                   1309
No of Siblings or Spouses on Board    1309
No of Parents or Children on Board    1309
Ticket Number                         1309
Passenger Fare                        1308
Cabin                                  295
Port of Embarkation                   1307
Life Boat                              486
Survived                              1309
dtype: int64

We have too many null values for Cabin column, so we just remove it. Notice that we remove the column, not the rows with nuls in Cabin column.

In [0]:
titanic.drop(["Cabin", "Life Boat"],inplace=True,axis=1)

titanic.count()

Passenger Class                       1309
Name                                  1309
Sex                                   1309
Age                                   1309
No of Siblings or Spouses on Board    1309
No of Parents or Children on Board    1309
Ticket Number                         1309
Passenger Fare                        1308
Port of Embarkation                   1307
Survived                              1309
dtype: int64

Again, we remove some rows with null values that we can't fix by any means

In [0]:
titanic.dropna(inplace=True)
titanic.count()

Passenger Class                       1306
Name                                  1306
Sex                                   1306
Age                                   1306
No of Siblings or Spouses on Board    1306
No of Parents or Children on Board    1306
Ticket Number                         1306
Passenger Fare                        1306
Port of Embarkation                   1306
Survived                              1306
dtype: int64

### Converting non-numerical data (when possible)

Ok, now that we are done with cleaning the data, let's convert some categorical data into numeric.

In [0]:
#  Sex column.Using the get_dummies function of Pandas to create two columns, one for male, one for female.
sex = pd.get_dummies(titanic["Sex"])
sex.head()

   Female  Male
0       1     0
1       0     1
2       1     0
3       0     1
4       1     0

Let's do the same for "Port of Embarkation" and "Passenger Class"

In [0]:
embarked = pd.get_dummies(titanic["Port of Embarkation"])
embarked

      Cherbourg  Queenstown  Southampton
0             0           0            1
1             0           0            1
2             0           0            1
3             0           0            1
4             0           0            1
...         ...         ...          ...
1304          1           0            0
1305          1           0            0
1306          1           0            0
1307          1           0            0
1308          0           0            1

[1306 rows x 3 columns]

In [0]:
pc_class = pd.get_dummies(titanic["Passenger Class"])
pc_class

      First  Second  Third
0         1       0      0
1         1       0      0
2         1       0      0
3         1       0      0
4         1       0      0
...     ...     ...    ...
1304      0       0      1
1305      0       0      1
1306      0       0      1
1307      0       0      1
1308      0       0      1

[1306 rows x 3 columns]

now we add these new numeric columns to the dataframe

In [0]:
titanic = pd.concat([titanic,pc_class,sex,embarked],axis=1)
titanic.count()

Passenger Class                       1306
Name                                  1306
Sex                                   1306
Age                                   1306
No of Siblings or Spouses on Board    1306
No of Parents or Children on Board    1306
Ticket Number                         1306
Passenger Fare                        1306
Port of Embarkation                   1306
Survived                              1306
First                                 1306
Second                                1306
Third                                 1306
Female                                1306
Male                                  1306
Cherbourg                             1306
Queenstown                            1306
Southampton                           1306
dtype: int64

In [0]:
# We save a DataFrame copy to be used with Seaborn's plots
sea_titanic = titanic.copy()
sea_titanic

     Passenger Class  ... Southampton
0              First  ...           1
1              First  ...           1
2              First  ...           1
3              First  ...           1
4              First  ...           1
...              ...  ...         ...
1304           Third  ...           0
1305           Third  ...           0
1306           Third  ...           0
1307           Third  ...           0
1308           Third  ...           1

[1306 rows x 18 columns]

Finally, we can get rid of non-numerical columns (except for "Passenger Class" wich will be used later)

In [0]:
titanic.drop(["Passenger Class","Passenger Fare","Name","Sex","Ticket Number","Port of Embarkation"],axis=1,inplace=True)
titanic.head()

    Age  No of Siblings or Spouses on Board  ...  Queenstown Southampton
0  29.0                                 0.0  ...           0           1
1   0.9                                 1.0  ...           0           1
2   2.0                                 1.0  ...           0           1
3  30.0                                 1.0  ...           0           1
4  25.0                                 1.0  ...           0           1

[5 rows x 12 columns]

### Training Process

Now need train and test subsets to work with. X will contain all the features and y will contain the target variable

In [0]:
X = titanic.drop("Survived",axis=1)
y = titanic["Survived"]

We will use train_test_split from cross_validation module to split our data. 70% of the data will be training data and %30 will be testing data.

random_state = 101: Random state ensures that the splits that you generate are reproducible. The number doesn't matter, the important thing is that everytime you use the same number, you will always get the same output the first time you make the split. Scikit-learn uses random permutations to generate the splits. The random state that you provide is used as a seed to the random number generator. This ensures that the random numbers are generated in the same order.

In [0]:
X = X.values
X

array([[29. ,  0. ,  0. , ...,  0. ,  0. ,  1. ],
       [ 0.9,  1. ,  2. , ...,  0. ,  0. ,  1. ],
       [ 2. ,  1. ,  2. , ...,  0. ,  0. ,  1. ],
       ...,
       [26.5,  0. ,  0. , ...,  1. ,  0. ,  0. ],
       [27. ,  0. ,  0. , ...,  1. ,  0. ,  0. ],
       [29. ,  0. ,  0. , ...,  0. ,  0. ,  1. ]])

In [0]:
#Todos los valores en DeepLearning (Redes neuronales deben estar en numero)
from sklearn.preprocessing import LabelEncoder
labelEncoder_y = LabelEncoder()

y = labelEncoder_y.fit_transform(titanic["Survived"])
y

array([1, 1, 0, ..., 0, 0, 0])

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 101)

In [0]:
%tensorflow_version 2.x
import tensorflow.keras as keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [0]:
#Se crea la arquitectura del modelo
model = Sequential()

In [0]:
#Dense todo conectado con la capa anterior con la cantidad de neuronas 
model.add(Dense(3,input_shape=(11,),activation="relu"))
model.add(Dense(2,activation="relu"))
model.add(Dense(1,activation="sigmoid"))

In [0]:
#Compilacion del modelo
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [0]:
#Entrenamiento
model.fit(X_train,y_train,batch_size=10,epochs=100)

Train on 914 samples
Epoch 1/100
914/914 [==============================] - 1s 686us/sample - loss: 1.6648 - accuracy: 0.3807
Epoch 2/100
914/914 [==============================] - 0s 163us/sample - loss: 0.7403 - accuracy: 0.4989
Epoch 3/100
914/914 [==============================] - 0s 196us/sample - loss: 0.6689 - accuracy: 0.6138
Epoch 4/100
914/914 [==============================] - 0s 167us/sample - loss: 0.6679 - accuracy: 0.6138
Epoch 5/100
914/914 [==============================] - 0s 154us/sample - loss: 0.6684 - accuracy: 0.6138
Epoch 6/100
914/914 [==============================] - 0s 172us/sample - loss: 0.6677 - accuracy: 0.6138
Epoch 7/100
914/914 [==============================] - 0s 162us/sample - loss: 0.6677 - accuracy: 0.6138
Epoch 8/100
914/914 [==============================] - 0s 164us/sample - loss: 0.6682 - accuracy: 0.6138
Epoch 9/100
914/914 [==============================] - 0s 158us/sample - loss: 0.6689 - accuracy: 0.6138
Epoch 10/100
914/914 [==============================] - 0s 171us/sample - loss: 0.6678 - accuracy: 0.6138
Epoch 11/100
914/914 [==============================] - 0s 170us/sample - loss: 0.6684 - accuracy: 0.6138
Epoch 12/100
914/914 [==============================] - 0s 159us/sample - loss: 0.6680 - accuracy: 0.6138
Epoch 13/100
914/914 [==============================] - 0s 166us/sample - loss: 0.6682 - accuracy: 0.6138
Epoch 14/100
914/914 [==============================] - 0s 169us/sample - loss: 0.6682 - accuracy: 0.6138
Epoch 15/100
914/914 [==============================] - 0s 169us/sample - loss: 0.6670 - accuracy: 0.6138
Epoch 16/100
914/914 [==============================] - 0s 163us/sample - loss: 0.6682 - accuracy: 0.6138
Epoch 17/100
914/914 [==============================] - 0s 158us/sample - loss: 0.6666 - accuracy: 0.6138
Epoch 18/100
914/914 [==============================] - 0s 189us/sample - loss: 0.6692 - accuracy: 0.6138
Epoch 19/100
914/914 [==============================] - 0s 159us/sample - loss: 0.6672 - accuracy: 0.6138
Epoch 20/100
914/914 [==============================] - 0s 157us/sample - loss: 0.6667 - accuracy: 0.6138
Epoch 21/100
914/914 [==============================] - 0s 168us/sample - loss: 0.6668 - accuracy: 0.6138
Epoch 22/100
914/914 [==============================] - 0s 173us/sample - loss: 0.6667 - accuracy: 0.6138
Epoch 23/100
914/914 [==============================] - 0s 181us/sample - loss: 0.6663 - accuracy: 0.6138
Epoch 24/100
914/914 [==============================] - 0s 188us/sample - loss: 0.6663 - accuracy: 0.6138
Epoch 25/100
914/914 [==============================] - 0s 189us/sample - loss: 0.6668 - accuracy: 0.6138
Epoch 26/100
914/914 [==============================] - 0s 175us/sample - loss: 0.6671 - accuracy: 0.6138
Epoch 27/100
914/914 [==============================] - 0s 184us/sample - loss: 0.6666 - accuracy: 0.6138
Epoch 28/100
914/914 [==============================] - 0s 176us/sample - loss: 0.6675 - accuracy: 0.6138
Epoch 29/100
914/914 [==============================] - 0s 165us/sample - loss: 0.6666 - accuracy: 0.6138
Epoch 30/100
914/914 [==============================] - 0s 187us/sample - loss: 0.6662 - accuracy: 0.6138
Epoch 31/100
914/914 [==============================] - 0s 158us/sample - loss: 0.6665 - accuracy: 0.6138
Epoch 32/100
914/914 [==============================] - 0s 161us/sample - loss: 0.6661 - accuracy: 0.6138
Epoch 33/100
914/914 [==============================] - 0s 194us/sample - loss: 0.6663 - accuracy: 0.6138
Epoch 34/100
914/914 [==============================] - 0s 180us/sample - loss: 0.6653 - accuracy: 0.6138
Epoch 35/100
914/914 [==============================] - 0s 157us/sample - loss: 0.6653 - accuracy: 0.6138
Epoch 36/100
914/914 [==============================] - 0s 179us/sample - loss: 0.6652 - accuracy: 0.6138
Epoch 37/100
914/914 [==============================] - 0s 162us/sample - loss: 0.6651 - accuracy: 0.6138
Epoch 38/100
914/914 [==============================] - 0s 158us/sample - loss: 0.6644 - accuracy: 0.6138
Epoch 39/100
914/914 [==============================] - 0s 172us/sample - loss: 0.6638 - accuracy: 0.6138
Epoch 40/100
914/914 [==============================] - 0s 158us/sample - loss: 0.6651 - accuracy: 0.6138
Epoch 41/100
914/914 [==============================] - 0s 171us/sample - loss: 0.6640 - accuracy: 0.6138
Epoch 42/100
914/914 [==============================] - 0s 166us/sample - loss: 0.6634 - accuracy: 0.6138
Epoch 43/100
914/914 [==============================] - 0s 159us/sample - loss: 0.6627 - accuracy: 0.6138
Epoch 44/100
914/914 [==============================] - 0s 168us/sample - loss: 0.6621 - accuracy: 0.6138
Epoch 45/100
914/914 [==============================] - 0s 177us/sample - loss: 0.6634 - accuracy: 0.6138
Epoch 46/100
914/914 [==============================] - 0s 159us/sample - loss: 0.6622 - accuracy: 0.6138
Epoch 47/100
914/914 [==============================] - 0s 168us/sample - loss: 0.6621 - accuracy: 0.6138
Epoch 48/100
914/914 [==============================] - 0s 184us/sample - loss: 0.6613 - accuracy: 0.6138
Epoch 49/100
914/914 [==============================] - 0s 165us/sample - loss: 0.6614 - accuracy: 0.6138
Epoch 50/100
914/914 [==============================] - 0s 164us/sample - loss: 0.6605 - accuracy: 0.6138
Epoch 51/100
914/914 [==============================] - 0s 165us/sample - loss: 0.6595 - accuracy: 0.6138
Epoch 52/100
914/914 [==============================] - 0s 179us/sample - loss: 0.6574 - accuracy: 0.6138
Epoch 53/100
914/914 [==============================] - 0s 163us/sample - loss: 0.6540 - accuracy: 0.6138
Epoch 54/100
914/914 [==============================] - 0s 180us/sample - loss: 0.6412 - accuracy: 0.6138
Epoch 55/100
914/914 [==============================] - 0s 157us/sample - loss: 0.6272 - accuracy: 0.6138
Epoch 56/100
914/914 [==============================] - 0s 192us/sample - loss: 0.6117 - accuracy: 0.6138
Epoch 57/100
914/914 [==============================] - 0s 176us/sample - loss: 0.5977 - accuracy: 0.6138
Epoch 58/100
914/914 [==============================] - 0s 161us/sample - loss: 0.5853 - accuracy: 0.6477
Epoch 59/100
914/914 [==============================] - 0s 161us/sample - loss: 0.5745 - accuracy: 0.7254
Epoch 60/100
914/914 [==============================] - 0s 167us/sample - loss: 0.5642 - accuracy: 0.7429
Epoch 61/100
914/914 [==============================] - 0s 161us/sample - loss: 0.5563 - accuracy: 0.7615
Epoch 62/100
914/914 [==============================] - 0s 170us/sample - loss: 0.5493 - accuracy: 0.7691
Epoch 63/100
914/914 [==============================] - 0s 162us/sample - loss: 0.5433 - accuracy: 0.7724
Epoch 64/100
914/914 [==============================] - 0s 174us/sample - loss: 0.5392 - accuracy: 0.7735
Epoch 65/100
914/914 [==============================] - 0s 162us/sample - loss: 0.5344 - accuracy: 0.7779
Epoch 66/100
914/914 [==============================] - 0s 193us/sample - loss: 0.5312 - accuracy: 0.7845
Epoch 67/100
914/914 [==============================] - 0s 164us/sample - loss: 0.5268 - accuracy: 0.7812
Epoch 68/100
914/914 [==============================] - 0s 164us/sample - loss: 0.5241 - accuracy: 0.7768
Epoch 69/100
914/914 [==============================] - 0s 165us/sample - loss: 0.5206 - accuracy: 0.7834
Epoch 70/100
914/914 [==============================] - 0s 189us/sample - loss: 0.5184 - accuracy: 0.7834
Epoch 71/100
914/914 [==============================] - 0s 175us/sample - loss: 0.5157 - accuracy: 0.7856
Epoch 72/100
914/914 [==============================] - 0s 160us/sample - loss: 0.5135 - accuracy: 0.7845
Epoch 73/100
914/914 [==============================] - 0s 167us/sample - loss: 0.5116 - accuracy: 0.7823
Epoch 74/100
914/914 [==============================] - 0s 189us/sample - loss: 0.5100 - accuracy: 0.7834
Epoch 75/100
914/914 [==============================] - 0s 162us/sample - loss: 0.5085 - accuracy: 0.7801
Epoch 76/100
914/914 [==============================] - 0s 154us/sample - loss: 0.5058 - accuracy: 0.7834
Epoch 77/100
914/914 [==============================] - 0s 180us/sample - loss: 0.5048 - accuracy: 0.7823
Epoch 78/100
914/914 [==============================] - 0s 170us/sample - loss: 0.5029 - accuracy: 0.7910
Epoch 79/100
914/914 [==============================] - 0s 155us/sample - loss: 0.5013 - accuracy: 0.7888
Epoch 80/100
914/914 [==============================] - 0s 182us/sample - loss: 0.5004 - accuracy: 0.7845
Epoch 81/100
914/914 [==============================] - 0s 172us/sample - loss: 0.4995 - accuracy: 0.7867
Epoch 82/100
914/914 [==============================] - 0s 162us/sample - loss: 0.4977 - accuracy: 0.7867
Epoch 83/100
914/914 [==============================] - 0s 188us/sample - loss: 0.4973 - accuracy: 0.7834
Epoch 84/100
914/914 [==============================] - 0s 168us/sample - loss: 0.4973 - accuracy: 0.7856
Epoch 85/100
914/914 [==============================] - 0s 169us/sample - loss: 0.4958 - accuracy: 0.7867
Epoch 86/100
914/914 [==============================] - 0s 175us/sample - loss: 0.4944 - accuracy: 0.7899
Epoch 87/100
914/914 [==============================] - 0s 186us/sample - loss: 0.4941 - accuracy: 0.7823
Epoch 88/100
914/914 [==============================] - 0s 190us/sample - loss: 0.4930 - accuracy: 0.7877
Epoch 89/100
914/914 [==============================] - 0s 182us/sample - loss: 0.4913 - accuracy: 0.7888
Epoch 90/100
914/914 [==============================] - 0s 186us/sample - loss: 0.4912 - accuracy: 0.7834
Epoch 91/100
914/914 [==============================] - 0s 177us/sample - loss: 0.4914 - accuracy: 0.7867
Epoch 92/100
914/914 [==============================] - 0s 164us/sample - loss: 0.4897 - accuracy: 0.7877
Epoch 93/100
914/914 [==============================] - 0s 177us/sample - loss: 0.4891 - accuracy: 0.7867
Epoch 94/100
914/914 [==============================] - 0s 167us/sample - loss: 0.4891 - accuracy: 0.7834
Epoch 95/100
914/914 [==============================] - 0s 168us/sample - loss: 0.4892 - accuracy: 0.7888
Epoch 96/100
914/914 [==============================] - 0s 177us/sample - loss: 0.4883 - accuracy: 0.7888
Epoch 97/100
914/914 [==============================] - 0s 168us/sample - loss: 0.4866 - accuracy: 0.7921
Epoch 98/100
914/914 [==============================] - 0s 181us/sample - loss: 0.4868 - accuracy: 0.7888
Epoch 99/100
914/914 [==============================] - 0s 214us/sample - loss: 0.4861 - accuracy: 0.7867
Epoch 100/100
914/914 [==============================] - 0s 184us/sample - loss: 0.4855 - accuracy: 0.7801

In [0]:
predictions = model.predict(X_test)